<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body class="container">
    <header class="header">
        <h1>header</h1>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="#">nav 1</a></li>
            <li><a href="#">nav 2</a></li>
            <li><a href="#">nav 3</a></li>
        </ul>
    </nav>
    <main class="main">
        <article>
            <h1>Main Article 1</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, saepe. Ratione explicabo maiores quibusdam exercitationem non assumenda dolorum delectus tenetur!</p>
        </article>
        <article>
            <h1>Main Article 2</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, nisi deserunt blanditiis sequi dicta sint ab culpa! Libero, laborum sunt?</p>
        </article>
    </main>

    <aside>
        <div class="sidebar">
            <h1>Sidebar</h1>
        </div>
        <div class="advertise">
            <h1>Advertise</h1>
        </div>
    </aside>

    <footer class="footer">
        <h1>Footer</h1>
    </footer>
</body>
</html>